<div class="container">
  <div class="drink">
    <div class="drink-img">
      <!--ADD CORRECT IMAGE SOURCE ONCE DRINK SERVICE HAVE BEEN MIGRATED TO DB AS JSON-->
      <img src="assets/images/icons/200x200.png" alt="" />
    </div>
    <div class="drink-name">
      <h1>placeholder drink name</h1>
      <p class="drink-price">$5.00</p>
    </div>
  </div>
  <div class="customize">
    <h2>Size Options</h2>
    <div class="option">
      <!--ADD ONCLICK FUNCTION TO ADD OPTION TAGS NEXT TO PRICE AND LOOP THROUGH OPTIONS-->
      <button class="button">small</button>
      <button class="button">medium +$0.50</button>
      <button class="button">large +$1.00</button>
    </div>
    <h2>Ice Options</h2>
    <div class="option">
      <button class="button">no ice</button>
      <button class="button">less ice</button>
      <button class="button">regular ice</button>
    </div>
  </div>
</div>
